/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */

:root {
  /** 全局背景色 */
  --td27-body-bg-color: #f2f3f5;
  /** Header 区域 = NavigationBar 组件 + TagsView 组件 */
  --td27-header-height: calc(var(--td27-navigationbar-height) + var(--td27-tagsview-height));
  /** NavigationBar 组件 */
  --td27-navigationbar-height: 50px;
  /** Sidebar 组件 */
  --td27-sidebar-width: 220px;
  --td27-sidebar-hide-width: 58px;
  --td27-sidebar-menu-item-height: 60px;
  --td27-sidebar-menu-bg-color: #001428;
  --td27-sidebar-menu-hover-bg-color: #ffffff10;
  --td27-sidebar-menu-text-color: #c0c4cc;
  --td27-sidebar-menu-active-text-color: #ffffff;
  --td27-sidebar-menu-tip-line-bg-color: var(--el-color-primary);
  /** SidebarLogo 组件 */
  --td27-sidebarlogo-bg-color: #001428;
  /** TagsView 组件 */
  --td27-tagsview-height: 34px;
}
